In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [4]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [5]:
metadata = MetaData()
users = Table('users', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('fullname', String),
)

addresses = Table('addresses', metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', None, ForeignKey('users.id')),
    Column('email_address', String, nullable=False)
)

In [6]:
metadata.create_all(engine)

2020-05-25 11:47:50,773 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-05-25 11:47:50,775 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,777 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-05-25 11:47:50,778 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,780 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2020-05-25 11:47:50,781 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,782 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2020-05-25 11:47:50,783 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,784 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("addresses")
2020-05-25 11:47:50,785 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,786 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("addresses")
2020-05-25 11:47:50,786 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,788 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2020-05-25 11:47:50,788 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,789 INFO sqlalchemy.engine.base.Engine COMMIT
2020-05-25 11:47:50,790 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2020-05-25 11:47:50,791 INFO sqlalchemy.engine.base.Engine ()
2020-05-25 11:47:50,792 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
ins = users.insert().values(name='jack', fullname='Jack Jones')
print(ins)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [12]:
ins.compile().params

{'name': 'jack', 'fullname': 'Jack Jones'}

In [13]:
conn = engine.connect()

In [14]:
conn

In [15]:
result = conn.execute(ins)

2020-05-25 11:50:19,875 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-05-25 11:50:19,876 INFO sqlalchemy.engine.base.Engine ('jack', 'Jack Jones')
2020-05-25 11:50:19,877 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
ins.bind = engine
print(ins)

INSERT INTO users (name, fullname) VALUES (?, ?)

In [17]:
result.inserted_primary_key

[1]

In [18]:
ins = users.insert()
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

2020-05-25 11:52:43,345 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)
2020-05-25 11:52:43,345 INFO sqlalchemy.engine.base.Engine (2, 'wendy', 'Wendy Williams')
2020-05-25 11:52:43,346 INFO sqlalchemy.engine.base.Engine COMMIT